[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.6"
django-tailwind = {extras = ["reload"], version = "*"}
pillow = "*"

[dev-packages]

[requires]
python_version = "3.13"
